{% extends 'main/template.html' %}
{% load crispy_forms_tags %}
{% block main_section %}

  <div class="form-section">
     {% if '/en' in request.path %}
         <h2>You successfully update your account's password!</h2>
		 <br>
         Now, you can use your new password!
		 <br> 
         <a href="\login">Login in personal cabinet again</a>
    {% elif '/ru' in request.path %}
		 <h2>Вы успешно обновили пароль своей учетной записи!</h2>
		 <br>
         Теперь вы можете использовать новый пароль!
		 <br>
         <a href="{% url 'auth-ru' %}">Войдите в свой аккаунт вновь</a>
	{% elif '/az' in request.path %}
         <h2>Hesabınızın şifrəni uğurla yenilədiniz!</h2>
		 <br>
         İndi yeni şifrənizdən istifadə edə bilərsiniz!
		 <br>
         <a href="{% url 'auth-az' %}">Войдите в свой аккаунт вновь</a>
	{% endif %} 
  </div>

{% endblock main_section %}
