{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Login</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<style>

body{
    background: #f7f7f7;

}

.login-form {
    width: 340px;
    margin: 50px auto;
  	font-size: 15px;
}
.login-form form {
    margin-bottom: 15px;
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {
    font-size: 15px;
    font-weight: bold;
}
</style>
</head>
<body>
<div class="login-form">
    <form method="POST">
        {% if '/en' in request.path %}
		   <h2 class="text-center">Log in</h2>
		{% elif '/ru' in request.path %}
           <h2 class="text-center">Вход</h2>
	    {% elif '/az' in request.path %}
		   <h2 class="text-center">Giriş</h2>
	    {% endif %}
        {% csrf_token %}
        {{ form|crispy }}
        <div class="form-group">
            {% if '/en' in request.path %}
              <button type="submit" class="btn btn-primary btn-block">Log in</button>
		    {% elif '/ru' in request.path %}
			  <button type="submit" class="btn btn-primary btn-block">Войти</button>	
			{% elif '/az' in request.path %}
              <button type="submit" class="btn btn-primary btn-block">Daxil olmaq</button>  
			{% endif %}
        </div>
        <div class="clearfix">
			{% if '/en' in request.path %}
			   <a href="{% url 'pass-reset-en' %}" class="float-right">Forgot Password?</a>
            {% elif '/ru' in request.path %}
			   <a href="{% url 'pass-reset-en' %}" class="float-right">Забыли пароль?</a>
			{% elif '/az' in request.path %}
			   <a href="{% url 'pass-reset-en' %}" class="float-right">Şifrənizi unudubsuz?</a>
			{% endif %}
        </div>
    </form>
</div>
</body>
</html>
