{% extends 'main/template.html' %}
{% load static %}


{% block main %} 
   <div class="container" style="margin-top: 100px;">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Month</h5>
                    <h6 class="card-subtitle mb-2 text-muted">$1.99</h6>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-primary">Get Started</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Half-year</h5>
                    <h6 class="card-subtitle mb-2 text-muted">$4.49</h6>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-primary">Get Started</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Year</h5>
                    <h6 class="card-subtitle mb-2 text-muted">$7.49</h6>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-primary">Get Started</a>
                </div>
            </div>
        </div>
    </div>

      

   </div>
{% endblock main %}
